{% load static %}

{% comment %} Main {% endcomment %}

<div class="container-fluid p-0">
    <div class="banner" id="banner">
        <video id="video" class="banner" autoplay muted loop controls>
            <source src="{% static 'img/girişli-anasayfa-img/w-trailer.mp4' %}" type="video/mp4">
        </video>
        <!-- video volume script-->
         <div class="banner__contents">
            <h2 class="banner__title">WEDNESDAY</h2>
            <!-- <div class="banner__buttons">
                <button class="btn  bu text-center" id='btnPlayPause' accesskey="P" onclick='playPauseVideo();'><b> WATCH </b><img src="{% static 'img/girişli-anasayfa-img/play.svg' %}" alt=""><b> NOW</b></button>
            </div> -->
            <div class="banner__infos d-flex mt-1">
                <img class="" src="{% static 'img/girişli-anasayfa-img/Star 2.svg' %}" alt="">
                <img class="" src="{% static 'img/girişli-anasayfa-img/Star 2.svg' %}" alt="">
                <img class="" src="{% static 'img/girişli-anasayfa-img/Star 2.svg' %}" alt="">
                <img class="" src="{% static 'img/girişli-anasayfa-img/Star 2.svg' %}" alt="">
                <img class="" src="{% static 'img/girişli-anasayfa-img/Star 2.svg' %}" alt="">
                
                <p class="ms-1 banner__date mt-3">2016</p>
                <i class="fa-regular fa-clock ms-3 mt-3"></i>
                <p class="banner__time ms-1 mt-3">1sa 4dk</p>

            </div>
            <div class="banner__desc">
                Berbat bir şaka yüzünden okuldan atılan Wednesday,anne ve babasının birbirlerine aşık olduğu yatılı bir okul olan Nevermore Akademisine gönderilir.
            </div>

        </div>
         <!-- <div class="banner__foto d-flex justify-content-center">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc1.jpg' %}" alt="">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc2.jpg' %}" alt="">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc3.jpg' %}" alt="">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc4.jpg' %}" alt="">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc5.jpg' %}" alt="">
            <img class="banner__img me-2" src="{% static 'img/girişli-anasayfa-img/sc6.jpg' %}" alt="">
     
        </div>  -->
    </div>
</div>


{% block js %}
    
<script>
    player = document.getElementById('video');
    btnPlayPause = document.getElementById('btnPlayPause');
    player.addEventListener('play', function() {
    changeButtonType(btnPlayPause, '<i style=font-size:75px; class="fa-regular fa-circle-pause fa-2xl"></i>');
    }, false);

    player.addEventListener('pause', function() {
        changeButtonType(btnPlayPause, 'WATCH <img src="{% static 'img/girişli-anasayfa-img/play.svg' %}" alt=""> NOW');
    }, false);
    
    function playPauseVideo() {
        if (player.paused || player.ended) {
            changeButtonType(btnPlayPause, 'Pause');
            player.play();
        }
        else {
            changeButtonType(btnPlayPause, 'Play');
            player.pause();
        }
    }
    function changeButtonType(btn, value) {
        btn.title     = value;
        btn.innerHTML = value;
    }
    const nav = document.getElementById('nav');
    window.addEventListener('scroll', () => {
        if(window.scrollY >= 100){
            nav.classList.add('nav__black');
        }else{
            nav.classList.remove('nav__black')
        }
    })

</script>
{% endblock js %}
    