{% extends 'base.html' %}
{% load static %}


{% block css %}
<style>
    /* .container{
        margin-left: 350px;
    } */
    /* .contact{
        margin-left: 440px;
    } */
</style>

{% endblock css %}




{% block body %}
<!--Section: Contact v.2-->
<section class="mb-4">
    <div class="container">
        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4" style="color: #EFEFEF;">Bize Ulaşın</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5" style="color: #EFEFEF;">Sorularınız var mı? Bizimle iletişime
            geçmekten çekinmeyin. Ekibimiz birkaç saat
            içerisinde size geri dönüş sağlıyacaktır.</p>

        <div class="contact row text-center">

            <!--Grid column-->
            <div class="col-md-9 mx-auto">
                <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-4">
                                <input type="text" id="name" name="name" placeholder="Ad" class="form-control">

                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-6">
                            <div class="md-form mb-4">
                                <input type="text" id="email" name="email" placeholder="Mail" class="form-control">

                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="md-form mb-4">
                                <input type="text" id="title" name="title" placeholder="Konu" class="form-control">

                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <div class="md-form mb-4">
                                <textarea type="text" id="text" name="text" placeholder="Mesajınız" rows="2"
                                    class="form-control md-textarea"></textarea>

                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Gönder</a>
                </div>
                <div class="status"></div>
            </div>
            <!--Grid column-->


            <!--Grid column-->

        </div>
    </div>
</section>
<!--Section: Contact v.2-->



{% endblock body %}